/* $Id$
 * based on Joe English's CSS stylesheet for TCL man pages */

HTML {
    background: 	#ffdead;
    color: 		black;
}

BODY {
    background: 	#FFdead;
    color:	 	black;
    font-family:        serif;
}

DIV.body {
    margin-left:	10%;
    margin-right:	10%;
}

DIV.header,DIV.footer {
    width:		100%;
    margin-left:	0%;
    margin-right:	0%;
}

DIV.body H1,DIV.body H2 {
    margin-left:	-5%;
}

/* Navigation material: */

DIV.navbar {
    width:		100%;
    margin-top:		5pt;
    margin-bottom:	5pt;
    margin-left:	0%;
    margin-right:	0%;
    padding-top:  	5pt;
    padding-bottom:	5pt;
    background:		#DDDDDD;
    color:		black;
    border: 		1px solid black;
    text-align:		center;
    font-size:		small;
    font-family:	sans-serif;
}

P.navaid {
    text-align:	center;
}

.navaid {
    font-size:		small;
    font-family:	sans-serif;
}

A.navaid:link 		{ color: green;		background: transparent; }
A.navaid:visited	{ color: green;		background: transparent; }
A.navaid:active 	{ color: yellow;	background: transparent; }

/* For most anchors, we should leave colors up to the user's preferences. */
/*--
A:link 		{ color: blue; 		background: transparent; }
A:visited	{ color: purple;	background: transparent; }
A:active 	{ color: red;		background: transparent; }
--*/

H1, H2, H3, H4 {
    margin-top: 	1em;
    font-family:	cursive;
    font-size:		medium;
    color:		black;
    background: 	#00beef;
    text-align:		left;
    letter-spacing:     3pt;
    padding-left:       1em;
}

H1.title {
    text-align: center;
}

UL,OL {
    margin-right: 0em;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

UL LI {
    list-style: disc;
}

OL LI {
    list-style: decimal;
}

DT {
	padding-top: 	1ex;
}

B.term { 
         font-family: sans-serif;
         letter-spacing: 0pt;
         padding-left: 2pt;
         padding-right: 2pt;
         font-size: 100%;
         font-variant:normal;
}

I.m { 
      color: #d04040; 
      font-size: 110%; text-decoration:underline;
      padding-left: 2pt; padding-right: 2pt;
}
/*
TT { 
     font-family: monospace;
     font-style: italic;
     font-size: 90%;
}
*/

DL.toc {
    font: 	normal 12pt/16pt sans-serif;
    margin-left: 10%;
}

UL.toc,UL.toc UL, UL.toc UL UL {
    font:	normal 12pt/14pt serif;
    list-style:	none;
}

LI.tocentry,LI.tocheading {
    list-style: 	none;
    margin-left: 	0em;
    text-indent:	0em;
    padding: 		0em;
}

.tocheading {
    font-family:	sans-serif;
    font-weight:	bold;
    color:		#005A9C;
    background: 	transparent;
}

PRE {
    display: 		block;
    font-family:	monospace;
    white-space:	pre;
    margin:		0%;
    padding-top:	0.5ex;
    padding-bottom:	0.5ex;
    padding-left:	1ex;
    padding-right:	1ex;
    width:		90%;
}

PRE.syntax {
    color: 		black;
    background: 	#efef66;
    border:		1px solid black;
    font-family:	serif;
}

PRE.example {
    color: 		black;
    background: 	#66deaf;
    border:		1px solid black;
}

DIV.arglist {
    border:		1px solid black;
    width:		100%;
}

TH, THEAD TR, TR.heading {
    color:		#005A9C;
    background:		#DDDDDD;
    text-align:	 	center;
    font-family:	sans-serif;
    font-weight:	bold;
}

TR.syntax {
    color: 		black;
    background:		#80ffff;
}

TR.desc {
    color: 		black;
    background:		#f5dcb3;
}

/* TR.row[01] are used to get alternately colored table rows. 
 * Could probably choose better colors here...
 */

TR.row0 {
    color: 		black;
    background:		#efffef;
}

TR.row1 {
    color: 		black;
    background:		#efefff;
}

/* Workaround for Netscape bugs:
 * Netscape doesn't seem to compute table widths properly.
 * unless they're wrapped inside a DIV.  (Additionally,
 * it appears to require a non-zero border-width.)
 */

DIV.table {
    border-width:	1px;
    border-color:	white;
    width:		100%;
}

DIV.menu {	/* Wrapper for TABLE class="menu" */
    margin-top:		10px;
    margin-bottom:	10px;
    border:		thin solid #005A9C;
    width:		100%;
    margin-left:	5%;
}

VAR {
    font-style: italic;
}

/* For debugging: highlight unrecognized elements: */
.unrecognized {
    color: red; background: green;
}

/* EOF */
